<section class="login-container">
    <div class="container-fluid">

        <div class="title py-3">
            <h2 class="text-center">Register</h2>
        </div>
        <div class="box m-auto py-4">
            <form action="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="reg" for="firstName">First Name:</label>
                                        <input type="text" name="FName" id="firstName" class="form-control"
                                            placeholder="Enter your first Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-11 offset-1">
                                    <div class="form-group">
                                        <label class="reg" for="lastName">Last Name:</label>
                                        <input type="text" name="LName" id="lastName" class="form-control"
                                            placeholder="Enter your last Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="reg" for="emailInput">Email:</label>
                    <input type="email" name="email" id="emailInput" class="form-control"
                        placeholder="Enter your email">
                </div>

                <div class="form-group">
                    <label class="reg" for="passInput">Password:</label>
                    <input type="password" name="pass" id="passInput" class="form-control"
                        placeholder="Enter your password">
                </div>

                <div class="form-group">
                    <label class="reg" for="passInput">Confirm Password:</label>
                    <input type="password" name="pass" id="conPassInput" class="form-control"
                        placeholder="Enter your password again">
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary">Register</button>
                </div>
            </form>
        </div>

    </div>
</section>